@* @model List< MVC_CodeFirstApproch.Models.StudentInformation>
 *@

@model StudentInformation
<html>

<head>

</head>
<body>

	<h1> This is Shared view</h1>
	<table border="1">
		<thead>
			<tr>

				<th>Name</th>
				<th>Age</th>
				<th>DOB</th>
				<th>Address</th>
				<th>Gender</th>

			</tr>

		</thead>
		<tbody>

			@* 	@foreach (var Row in Model)
	            { *@
			<tr>
				<td>@Model.Name</td>
				<td>@Model.Age</td>
				<td>@Model.DOB</td>
				<td>@Model.Address</td>
				<td>@Model.Gender</td>
			</tr>
			@*  } *@

		</tbody>
	</table>
</body>
</html>