@model List< MVC_CodeFirstApproch.Models.StudentInformation>


<html>
	<head>
	<title>Show Student Data</title>
	</head>
	<thead>
		<h1>Student Data</h1>
		<table border="1">
			<tr>
				
				<th>Name</th>
				<th>Age</th>
				<th>DOB</th>
				<th>Address</th>
				<th>Gender</th>
			</tr>
</thead>
	<body>
	@foreach (var Row in Model)
	{
     <tr>
		<td>@Row.Name</td>
		<td>@Row.Age</td>
		<td>@Row.DOB</td>
		<td>@Row.Address</td>
		<td>@Row.Gender</td>
     </tr>
	}
	</tbody>

			@* <tr>
		    <td>@Model[0].Id</td>
			<td>@Model[0].Name</td>
			<td>@Model[0].Age</td>
			<td>@Model[0].DOB</td>
			<td>@Model[0].Address</td>
			<td>@Model[0].Gender</td>

			</tr>

		<tr>
			<td>@Model[1].Id</td>
			<td>@Model[1].Name</td>
			<td>@Model[1].Age</td>
			<td>@Model[1].DOB</td>
			<td>@Model[1].Address</td>
			<td>@Model[1].Gender</td>

		</tr>

		<tr>
			<td>@Model[2].Id</td>
			<td>@Model[2].Name</td>
			<td>@Model[2].Age</td>
			<td>@Model[2].DOB</td>
			<td>@Model[2].Address</td>
			<td>@Model[2].Gender</td>

		</tr> *@





			@* <tr>

			        <td>John Doe</td>
					<td>20</td>
			        <td>2003-05-15</td>
			        <td>123 Main St, Cityville</td>
					<td>Male</td>
			</tr>

		<tr>

			<td>Jane Smith</td>
			<td>22</td>
			<td>2001-08-10</td>
			<td>456 Elm St, Townsville</td>
			<td>Female</td>
		</tr>

		<tr>

			<td>ram</td>
			<td>21</td>
			<td>2004-04-01</td>
			<td>321elm st toen</td>
			<td>male</td>
		</tr> *@

			</table>

    

		
	</body>

</html>
	